<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image prediction app</title>
    <link rel="stylesheet" href="C:\Users\Bhanu\OneDrive\Desktop\python libraries\imageclassificationvgg16\static\css\styles.css">
  </head>
  <style type="text/css">
    body{background-color:#fa9579;

    }


  </style>
  <body >
<h1 align="Center">Image Prediction App</h1>

<form  action="/predict" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <td><input type="file" name="file" value=""></td>

      <td><input type="submit" name="" value="predict"></td>
    </tr>
  </table>

</form>


  </body>
</html>
